.entry {
  position: relative;
}

.entry .title {
  line-height: 2.5;
}

.entry .content {
  outline: none;
  white-space: pre-wrap;
}

.entry .content:focus {
  border-left: var(--secondary-color) solid 3px;
}

.entry .content, .entry .title {
  border-left: transparent solid 3px;
  padding: 0 4px;
}
