.menuButton {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--tertiary-color);
  cursor: pointer;
}

.menuButton:not(:hover) ul, .menuButton:hover:before {
  display: none;
}

.menuButton:before {
  content: '...';
}

.menuButton:hover {
  z-index: 1;
}

.menuButton ul {
  background: #121212;
  color: var(--primary-color);
}

.menuButton ul li {
  padding: 0 4px;
}

.menuButton ul li:hover {
  color: var(--secondary-color);
}
