* {
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 29, 29);
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2;
  color: rgb(218, 218, 218);
}

main {
  margin: auto;
  padding: 0 10%;
  max-width: 1080px;
}

@media (max-width: 760px) {
  main {
    padding: 0;
  }
}

.input input, .input textarea {
  height: 38px;
  min-height: 38px;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 4px;
  min-width: 100%;
  max-width: 100%;
  border-left: rgb(34, 156, 238) solid 3px;
  overflow: hidden;
}

.content, .tags {
  outline: none;
}

.content {
  white-space: pre-line;
}

.content, .date {
  border-left: transparent solid 3px;
  padding: 0 4px;
}

.content:focus {
  border-left: rgb(34, 156, 238) solid 3px;
}

textarea:not(:focus) {
  resize: none;
}

textarea:focus {
  height: 160px;
  overflow-y: visible;
}

.input input {
  border-color: rgb(238, 167, 34);
}

#entries .date {
  display: inline;
  color: rgb(238, 167, 34);
}

#entries .tags {
  display: inline;
  color: rgb(34, 156, 238);
}

.entry {
  position: relative;
}

.entry .menu-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(68, 238, 34);
  cursor: pointer;
  font-size: 15px;
}

.entry .menu-button:not(:hover) ul, .entry .menu-button:hover:before {
  display: none;
}

.entry .menu-button:before {
  content: '...'
}

.entry .menu-button:hover {
  z-index: 1;
}

.entry .menu-button ul {
  font-size: 19px;
  background: #121212;
  color: rgb(238, 167, 34);
}

.entry .menu-button ul li {
  padding: 0 4px;
}

.entry .menu-button ul li:hover {
  color: rgb(34, 156, 238);
}